<a href="https://colab.research.google.com/github/BenFarz/Demo/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

In [3]:
tf.__version__

'2.9.2'

In [18]:
import tensorflow as tensorflow
import pandas as pd
import matplotlib.pyplot as plt
med1 = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")

In [19]:
med1["age"]

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [21]:
med1

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [29]:
med2 = pd.get_dummies(med1)
med2.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [30]:
med3 = tf.constant(med2)

In [31]:
tf.shape(med3)

In [32]:
med4 = tf.cast(med3, dtype = tf.float16)

In [35]:
med5 = med4[:10,:5]
med5.numpy()

array([[1.900e+01, 2.791e+01, 0.000e+00, 1.688e+04, 1.000e+00],
       [1.800e+01, 3.378e+01, 1.000e+00, 1.726e+03, 0.000e+00],
       [2.800e+01, 3.300e+01, 3.000e+00, 4.448e+03, 0.000e+00],
       [3.300e+01, 2.270e+01, 0.000e+00, 2.198e+04, 0.000e+00],
       [3.200e+01, 2.888e+01, 0.000e+00, 3.866e+03, 0.000e+00],
       [3.100e+01, 2.573e+01, 0.000e+00, 3.756e+03, 1.000e+00],
       [4.600e+01, 3.344e+01, 1.000e+00, 8.240e+03, 1.000e+00],
       [3.700e+01, 2.773e+01, 3.000e+00, 7.280e+03, 1.000e+00],
       [3.700e+01, 2.983e+01, 2.000e+00, 6.408e+03, 0.000e+00],
       [6.000e+01, 2.584e+01, 0.000e+00, 2.893e+04, 1.000e+00]],
      dtype=float16)